@using ExpensesManager.Web.Models;
@using static ExpensesManager.Web.Models.EnumModel;
@model TransactionModel;

<form asp-controller="Manager" asp-action="AddTransaction" method="post" class="secondForm" style="display: none">
    <fieldset>
        <h1 class="text-start mb-4">Conte-nos mais</h1>
        <div class="mb-4">
            <input asp-for="Description" type="text" class="form-control input-font-size" id="transactionDescriptionInput" placeholder="Descrição" required>
        </div>
        <div class="mb-4">
            <select asp-for="Type" asp-items="Html.GetEnumSelectList<TransactionType>()" class="form-select input-font-size" required></select>
        </div>
        <div class="mb-4">
            <input asp-for="Amount" type="text" class="form-control number-input input-font-size moneyInput" id="transactionAmountInput" placeholder="Valor" maxlength="8" required>
        </div>
        <div class="mb-4">
            <input asp-for="TransactionDate" type="date" class="form-control input-font-size" id="transactionDateInput" placeholder="Data" required>
        </div>
        <div class="mb-4" hidden>
            <input asp-for="CategoryId" type="text" class="form-control input-font-size" id="transactionCategoryIdInput">
        </div>
        <div class="d-flex justify-content-end align-items-center">
            <button type="submit" asp-controller="Manager" asp-action="AddTransaction" class="w-25 button-font-size btn button-primary">Salvar</button>
        </div>
    </fieldset>
</form>
