@{
    ViewData["Title"] = "Categoria";
}

<head>
    <link rel="stylesheet" href="~/css/manager.css" asp-append-version="true" />
</head>

<span id="error-message" style="display:none;"></span>
<span id="success-message" style="display:none;"></span>

<div class="min-vh-100 text-center d-xl-flex justify-content-center align-items-start pt-5">
    <div class="w-100 h-100">
        @await Html.PartialAsync("_PartialManagerForms")
    </div>
    <div class="w-100 h-100 mt-5 mt-xl-0 pt-5 pt-xl-0">
        @await Html.PartialAsync("_PartialCategoryList")
    </div>
</div>
