:root {
    /* Fundo */
    --fundo-principal: #1E1E2E;
    --fundo-secundario: #2E2E3E;
    /* Texto */
    --texto-principal: #FFFFFF;
    --texto-secundario: #B0B0C0;
    /* Bordas e Linhas de Separação */
    --bordas-linhas: #3E3E5E;
    /* Botões */
    --botao-primario-fundo: #4E94EC;
    --botao-secundario-fundo: #5E5E7E;
    /* Alertas */
    --alerta-sucesso-fundo: #28A745;
    --alerta-erro-fundo: #DC3545;
    /* Links */
    --link-color: #4E94EC;
    /* Hover */
    --hover-botao-primario: #6EB3FF;
    --hover-botao-secundario: #7E7E9E;
    --hover-link-color: #B0D4FF;
}

.fade-out-up {
    animation: fadeOutUp 500ms forwards;
}

@keyframes fadeOutUp {
    from {
        transform: translate(-50%, -50%) translateY(0);
        opacity: 1;
    }

    to {
        transform: translate(-50%, -60%) translateY(-20px);
        opacity: 0;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: var(--fundo-principal);
    color: var(--texto-principal);
}

.secondary-background {
    background-color: var(--fundo-secundario);
}

.primary-text {
    color: var(--texto-principal);
}

.secondary-text {
    color: var(--texto-secundario);
}

.border-line {
    border-color: var(--bordas-linhas);
}

.button-primary {
    background-color: var(--botao-primario-fundo);
    color: var(--texto-principal);
}

    .button-primary:hover {
        background-color: var(--hover-botao-primario);
    }

.button-secondary {
    background-color: var(--botao-secundario-fundo);
    color: var(--texto-principal);
}

    .button-secondary:hover {
        background-color: var(--hover-botao-secundario);
    }

.alert-success {
    background-color: var(--alerta-sucesso-fundo);
    color: var(--texto-principal);
}

.alert-error {
    background-color: var(--alerta-erro-fundo);
    color: var(--texto-principal);
}


a {
    color: var(--link-color);
}

    a:hover {
        color: var(--hover-link-color);
    }

.cursor-pointer {
    cursor: pointer;
}

.input-font-size {
    font-size: 1.2rem !important;
}

.button-font-size {
    font-size: 1.1rem !important;
}

.button-form-size {
    width: 25%;
}

@media(max-width: 650px) {
    .button-form-size {
        width: 50%;
    }
}

#error-message {
    width: 70%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    right: 50%;
    text-align: center;
    color: var(--texto-principal);
    background-color: var(--alerta-erro-fundo);
    padding: 0.5rem;
    border-radius: 5px;
}

#success-message {
    width: 70%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    right: 50%;
    text-align: center;
    color: var(--texto-principal);
    background-color: var(--alerta-sucesso-fundo);
    padding: 0.5rem;
    border-radius: 5px;
}

.table th, .table td {
    padding: 10px;
    border: 2px solid var(--bordas-linhas);
}

.table th {
    background-color: var(--fundo-principal);
}

.table tr:nth-child(even) {
    background-color: var(--fundo-principal);
}

.table tr:hover {
    background-color: var(--hover-botao-secundario);
}

.type-Income::after,
.type-Expenses::after {
    content: "";
    display: block;
    height: 2px;
}

.type-Income::after {
    background-color: var(--alerta-sucesso-fundo);
}

.type-Expenses::after {
    background-color: var(--alerta-erro-fundo);
}