.slide-out-left-fade-out {
    animation: slideOutLeftFadeOut 300ms forwards;
}

.slide-in-right-fade-in {
    animation: slideInRightFadeIn 500ms forwards;
}

@keyframes slideOutLeftFadeOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes slideInRightFadeIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}
