.img-thumbnail {
    width: 250px; 
    height: 250px; 
    object-fit: cover; 
    border-radius: 50%;
}

@media (max-width: 576px) {
    .img-thumbnail {
        width: 200px;
        height: 200px;
    }
}