@{
    ViewData["Title"] = "Sucesso";
    Layout = "_ExternalLayout";
}

<div class="text-center row mt-5 mb-4 pt-4 d-flex justify-content-center">
    <i class="bi bi-check-circle display-3 mb-4"></i>
    <h1>Usuário criado com sucesso</h1>
    <p class="mb-0">
        <a href="/Login" class="fw-bold">Login</a>
    </p>
</div>
