@{
    ViewData["Title"] = "Home";
    Layout = "_ExternalLayout";
}

<div class="container text-center mt-5 pt-4">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="display-3 mb-4">Bem-vindo ao <span class="text-primary">Gerenciador de Despesas</span></h1>
            <p class="lead mb-5">
                Controle suas finanças pessoais de forma prática e eficiente. Com nossa aplicação, você pode acompanhar e categorizar suas despesas, gerar relatórios detalhados e ter uma visão clara de suas finanças. Tudo isso em uma interface simples e fácil de usar.
            </p>

            <a href="/Login" class="btn btn-primary btn-lg px-5 py-3 fw-bold">Login</a>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-md-4">
            <div>
                <div class="card-body">
                    <h5 class="card-title">Acompanhe seus Gastos</h5>
                    <p class="card-text">Registre e categorize todas as suas despesas de forma rápida e eficiente.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <div class="card-body">
                    <h5 class="card-title">Relatórios Detalhados</h5>
                    <p class="card-text">Visualize gráficos e relatórios personalizados para entender melhor suas finanças.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <div class="card-body">
                    <h5 class="card-title">Meta de Economia</h5>
                    <p class="card-text">Defina metas financeiras e acompanhe seu progresso ao longo do tempo.</p>
                </div>
            </div>
        </div>
    </div>
</div>
