@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Gerenciador de Despesas</h1>
    <p>Esta aplicação foi desenvolvida para ajudar você a gerenciar suas finanças pessoais de maneira eficiente. Você pode acompanhar seus gastos, categorizar suas despesas, visualizar relatórios e muito mais..</p>
</div>
