@{
    ViewData["Title"] = "Home";
    Layout = "_ExternalLayout";
}

<div class="text-center mt-5 pt-4 d-flex justify-content-center">
    <div>
        <h1 class="display-4">Gerenciador de Despesas</h1>
        <p>Esta aplicação foi desenvolvida para ajudar você a gerenciar suas finanças pessoais de maneira eficiente. Você pode acompanhar seus gastos, categorizar suas despesas, visualizar relatórios e muito mais..</p>
    </div>
</div>
