<div class="col-lg-6 mb-3 mb-lg-0">
    <div class="widget chart">
        <div class="title p-4">
            <h5 class="fw-bold">Entradas por Tipo</h5>
        </div>
        <canvas id="doughnutIncomeChart" background="#2E2E3E" class="p-4"></canvas>   
    </div>
</div>

<div class="col-lg-6 mb-3 mb-lg-0">
    <div class="widget chart">
        <div class="title p-4">
            <h5 class="fw-bold">Saídas por Tipo</h5>
        </div>
        <canvas id="doughnutExpenseChart" background="#2E2E3E" class="p-4"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>