@model string

<div class="d-flex flex-row widget summary income">
    <div class="d-flex flex-column justify-content-center p-5">
        <i class="fa-solid fa-brazilian-real-sign fa-3x"></i>
    </div>
    <div class="d-flex flex-column m-auto py-3">
        <span class="lead">Entrada</span>
        <h2 class="fw-bold">@Model</h2>
    </div>
</div>